/* ************************************************************************ */
/* ************************ Swiper Component Module *********************** */
/* ************************************************************************ */
/* Main Swiper */
#home-page .swiper.main-slider-component {
	--padding-value: 1rem;
	overflow: visible !important;
}

#home-page .main-slider-component .swiper-wrapper {
	overflow: hidden !important;
}

/* ******************************************************************************** */
/* **********************************   RTL   ************************************* */
/* ******************************************************************************** */
[lang='ar'] .swiper-button-next {
	transform: scaleX(-1) !important;
}

[lang='ar'] .swiper-button-prev {
	transform: scaleX(-1) !important;
}

/* ************************************************************************ */
/* ****************************** Custom Styles *************************** */
/* ************************************************************************ */
/* Slider Container */
#home-page .main-slider-component {
	height: 100vh;
}

.main-slider-component .slider-container {
	position: relative;
	background-color: rgba(var(--primary-color), 1);
}

/* Slide Overlay */
.main-slider-component .slider-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.3),
		rgba(0, 0, 0, 0.1)
	);
}

/* Image */
.main-slider-component img {
	animation: 20s forwards;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.5);
	}
}

/* Slider Text Container */
.main-slider-component .slider-text {
	position: relative;
	top: -50%;
	left: 0;
	transform: translate(0, -50%);
	padding: 1rem;
	z-index: 33;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.5) 20%,
		transparent 40%
	);
}

.main-slider-component .slider-text .text-container {
	width: fit-content;
	max-width: 50%;
	color: rgba(var(--text-color), 1);
	padding: 1.5rem 1.8rem;
	opacity: 0;
	transition: opacity calc(1.5 * var(--transition-duration));
}

.main-slider-component
	.slider-container.swiper-slide-active
	.slider-text
	.text-container {
	opacity: 1;
}

@media only screen and (max-width: 992px) {
	.main-slider-component .slider-text .text-container {
		width: fit-content;
		max-width: unset;
	}
}

@media only screen and (max-width: 768px) {
	.main-slider-component .slider-text .text-container {
		width: 100%;
		max-width: unset;
	}
}

/* Slider Subtitle */
.slider-container .slider-text .subtitle {
	color: rgba(var(--action-color), 1);
	font-weight: bold;
	font-size: 1.7rem;
}

/* Slider Title */
.slider-container .slider-text .title {
	font-size: 1.4rem;
	line-height: 1;
	font-weight: normal;
	margin: 0.5rem 0;
}

/* Slider Description */
.slider-container .slider-text .description * {
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
}

.slider-container img,
.slider-container .slider-text .title,
.slider-container .slider-text .subtitle,
.slider-container .slider-text .description {
	animation-name: none;
	animation-play-state: paused;
}

.slider-container.swiper-slide-active img {
	animation-name: zoom;
	animation-play-state: running;
}

.slider-container.swiper-slide-active .slider-text .title,
.slider-container.swiper-slide-active .slider-text .subtitle,
.slider-container.swiper-slide-active .slider-text .description {
	animation-name: fadeInUp;
	animation-play-state: running;
}

/* ******************************************************************************** */
/* **********************************   RTL   ************************************* */
/* ******************************************************************************** */
[lang='ar'] .slider-container .slider-text {
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 0.5) 20%,
		transparent 40%
	);
}

[lang='ar'] .slider-container .slider-text .title {
	line-height: 1.6;
}
