/* ************************************************************************** */
/* *****************************  Variables  ******************************** */
/* ************************************************************************** */
:root {
	--primary-color: 38, 49, 57; /* #263139 */
	--secondary-color: 248, 212, 9; /* #f8d409 */
	--action-color: 115, 20, 53; /* #731435 */
	--text-color: 38, 49, 57; /* #263139 */
	--btn-color: 179, 145, 108; /* #cf9d07 */

	--transition-duration: 500ms;

	--description-alpha-value: 0.75;
}

/* ************************************************************************** */
/* ******************************  Global   ********************************* */
/* ************************************************************************** */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

/* RTL */
[lang='ar'] *,
[lang='ar'] *::before,
[lang='ar'] *::after {
	font-family: 'Cairo', sans-serif;
	line-height: 1.6;
}

/* ************************************************************************** */
/* *************************  Page Container   ****************************** */
/* ************************************************************************** */
body {
	overflow-x: hidden;
}

.page {
	padding: 5.5rem 0 2rem !important;
	min-height: 100vh;
}

ul,
ol,
li {
	margin: 0;
	padding: 0 1rem;
}

.error {
	color: #dc3545;
	font-size: 1.5rem;
	text-align: center;
	text-transform: capitalize;
}

/* ************************************************************************** */
/* *****************************  Text Limit   ****************************** */
/* ************************************************************************** */
.text-limit {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	display: -webkit-box !important;
	-webkit-line-clamp: var(--lines) !important;
	/* number of lines to show */
	line-clamp: var(--lines) !important;
	-webkit-box-orient: vertical !important;
}

/* ************************************************************************** */
/* ****************************  Description   ****************************** */
/* ************************************************************************** */
.page .description li::marker {
	content: '\f5aa';
	font-family: 'FontAwesome' !important;
	color: rgba(var(--action-color), var(--description-alpha-value));
}

[lang='ar'] .page .description li::marker {
	transform: scaleX(-1);
}

/* ************************************************************************** */
/* **************************  Section Title   ****************************** */
/* ************************************************************************** */
.section-title {
	color: rgba(var(--primary-color), 1);
	text-transform: capitalize;
	font-size: 2rem;

	padding-top: 0;
	padding-bottom: 0;

	margin-top: 0;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 992px) {
	.section-title {
		font-size: 1.5rem;
	}
}

/* ************************************************************************** */
/* *************************  Section Subtitle   **************************** */
/* ************************************************************************** */
.section-subtitle {
	color: rgba(var(--action-color), 1);
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.2rem;

	padding-top: 0;
	padding-bottom: 0;

	margin-top: 0;
	margin-bottom: 0.5rem;
}

@media only screen and (max-width: 992px) {
	.section-subtitle {
		font-size: 1rem;
	}
}
