#breadcrumb-component {
	position: relative;
	color: rgba(var(--action-color), 1);
	background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.1)
		),
		var(--image-url);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.breadcrumb-item {
	color: rgba(var(--text-color), 1);
	text-decoration: none;
	font-size: 16px;
	transition: color 250ms;
}

.breadcrumb-item + .breadcrumb-item::before {
	color: #383633;
}

.breadcrumb-item:hover,
.breadcrumb-item.active {
	color: rgba(var(--action-color), 1) !important;
}

.breadcrumb-item.active {
	cursor: default;
	pointer-events: none;
}

/* RTL */
#breadcrumb-component[dir='rtl'] {
	background: linear-gradient(
			to left,
			rgba(255, 255, 255, 0.75),
			rgba(255, 255, 255, 0.1)
		),
		var(--image-url);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

#breadcrumb-component[dir='rtl'] .breadcrumb-item + .breadcrumb-item::before {
	float: right;
	padding-left: var(--bs-breadcrumb-item-padding-x);
}
