/* ******************************************************************************** */
/* *****************************   About Section   ******************************** */
/* ******************************************************************************** */
#home-page .about-section {
	padding-top: 6rem;
	padding-bottom: 4rem;
}

/* Description */
#home-page .about-section .description {
	color: rgba(var(--text-color), 0.5);
}

#home-page .about-section .description * {
	margin: 0;
	padding: 0;
	text-align: justify;
}

/* ******************************************************************************** */
/* **************************   Services Section   ******************************** */
/* ******************************************************************************** */
#home-page .services-section {
	padding-bottom: 6rem;
}

/* ******************************************************************************** */
/* **************************   Services Section   ******************************** */
/* ******************************************************************************** */
#home-page .experience-section {
	--skew-value: 4deg;
	--translate-y-value: -10%;
	padding-top: 6rem;
	padding-bottom: 6rem;
	min-height: 80vh;
	color: rgba(255, 255, 255, 1);
}

/* Background Effect */
#home-page .experience-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-color: rgba(var(--text-color), 1);
	transform: skewY(calc(-1 * var(--skew-value)))
		translate(0, var(--translate-y-value));
	z-index: -1;
}

/* Title */
#home-page .experience-section .section-title {
	color: rgba(255, 255, 255, 1);
}

/* Description */
#home-page .experience-section .description {
	color: rgba(255, 255, 255, 0.5);
}

#home-page .experience-section .description * {
	margin: 0;
	padding: 0;
}

/* Image */
#home-page .experience-section img {
	max-height: 28rem;
}

/* ******************************************************************************** */
/* **********************   Products Filter Section   ***************************** */
/* ******************************************************************************** */
#home-page .products-filter-section {
	--padding-value: 3rem;
	padding-top: var(--padding-value);
	padding-bottom: var(--padding-value);
}

/* Section Title */
#home-page .products-filter-section .section-title {
	margin-top: 1rem;
}

/* Categories Filter */
#home-page .products-filter-section .categories-filter {
	margin-bottom: 3rem;
}

#home-page .products-filter-section .categories-filter .nav-item {
	padding: 0;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

#home-page .products-filter-section .categories-filter .nav-item .nav-link {
	color: rgba(var(--primary-color), 0.5);
	padding: 0.25rem 0.5rem;
	border: 2px solid rgba(var(--primary-color), 0.5);

	transition-property: border-color, color;
	transition-duration: var(--transition-duration);
}

#home-page
	.products-filter-section
	.categories-filter
	.nav-item
	.nav-link.active,
#home-page
	.products-filter-section
	.categories-filter
	.nav-item
	.nav-link:hover {
	color: rgba(var(--action-color), 1);
	border-color: rgba(var(--action-color), 1);
}

#home-page .products-filter-section .cards-slider-component {
	overflow: hidden !important;
	padding-top: 1.5rem;
}

/* ******************************************************************************** */
/* **************************   Partners Section   ******************************** */
/* ******************************************************************************** */
#home-page .partners-section {
	--padding-value: 3rem;
	padding-top: var(--padding-value);
	padding-bottom: var(--padding-value);
}

/* ******************************************************************************** */
/* **********************   Trending Products Section   *************************** */
/* ******************************************************************************** */
.trending-products-section {
	--skew-value: -4deg;
	--translate-y-value: -20%;
	--padding-value: 4rem;
	padding-top: var(--padding-value);
	padding-bottom: var(--padding-value);
	min-height: 50vh;
}

/* Section Title & Subtitle */
.trending-products-section .header-container {
	max-width: 50%;
	margin: 1rem auto 0;
	margin-bottom: 1rem;
}

.trending-products-section .header-container .section-title {
	margin-bottom: 0;
	color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 768px) {
	.trending-products-section .header-container {
		max-width: 100%;
	}
}

#home-page .trending-products-section .cards-slider-component {
	overflow: hidden !important;
	padding-top: 1.5rem;
}

/* Background Effect */
#home-page .trending-products-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	background-color: rgba(var(--text-color), 1);
	transform: skewY(calc(-1 * var(--skew-value)))
		translate(0, var(--translate-y-value));
	z-index: -1;
}

/* ******************************************************************************** */
/* ***************************   Contact Us Section   ***************************** */
/* ******************************************************************************** */
/* Contact Form */
#home-page .contact-us-section .contact-form-component {
	padding-right: 2rem !important;
}

@media only screen and (max-width: 768px) {
	#home-page .contact-us-section .contact-form-component {
		padding-right: unset !important;
	}
}

/* ******************************************************************************** */
/* **********************************   RTL   ************************************* */
/* ******************************************************************************** */
/* Experience Section */
[lang='ar'] #home-page .experience-section::before {
	transform: skewY(var(--skew-value)) translate(0, var(--translate-y-value));
}
[lang='ar'] #home-page .experience-section img {
	transform: scaleX(-1);
}

/* Products Filter Section */
/* Categories Filter */
[lang='ar'] #home-page .products-filter-section .categories-filter .nav-item {
	margin-right: unset;
	margin-left: 0.5rem;
}

/* Trending Products Section */
[lang='ar'] #home-page .trending-products-section::before {
	transform: skewY(var(--skew-value)) translate(0, var(--translate-y-value));
}

/* Contact Us Section */
[lang='ar'] #home-page .contact-us-section .contact-form-component {
	padding-right: unset !important;
	padding-left: 2rem !important;
}

@media only screen and (max-width: 768px) {
	[lang='ar'] #home-page .contact-us-section .contact-form-component {
		padding-left: unset !important;
	}
}
